/* header */
#header{
	background: $bg-color-light;
	.header-top{
		background: $secondary-color;

		.container{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.header-top-left,
		.header-top-right{
			margin: 0;
			padding: 19px 0;

			.btn-outline{
				padding: 3px 10px;
				border: 2px solid $primary-color;
				border-radius: 5px;
				box-shadow: 0px 4px 4px $color-opacity_34;
				font-size: $font-sm + 2;
				font-weight: 500;
				color: #fff; 

				.fa{
					color: $primary-color;
					margin-right: 5px;
				}
			}
		}
		.header-top-right{
			a{
				margin-left: 16px;
			}
		}
	}

	.header-bottom{
		padding: 31px 0;
		display: flex;
		align-items: center;

		.container{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.logo{
			max-width: 180px;
			width: 100%;
			margin: 0;
			color: $primary-color;
			text-transform: uppercase;
			display: flex;
			align-items: center;

			.fa{
				font-size: 40px;
				margin:0 10px 0 0;
			}
		}
		nav{
			margin: 0;
			ul{
				display: flex;

				li{
					margin-left: 40px;

					a{
						font-size: $font-md + 2;
						font-weight: 500;
						color: $secondary-color;
					}

					.btn-contact{
						color: #fff;
						padding: 8px 29px;
					}

					&.dropdown{
						position: relative;
						> a{
							&:after{
								content: "\f107";
								font-family: "FontAwesome";
								margin-left: 13px;
								color: $primary-color;
							}
						}
						ul{
							width: 300px;
							padding: 20px;
							position: absolute;
							top: 45px;
							left: 0;
							z-index: 9;
							background: $bg-color-light;
							display: none;

							li{
								margin-left: 0;
								margin-bottom: 10px;
							}
						}
						&.dropdown-open{
							ul{
								display: inline-block;
							}
						}
					}
				}
			}

			.icon-close{
				max-width: 30px;
				width: 100%;
				height: 30px;
				line-height: 30px;
				position: absolute;
				top: 20px;
				left: 45%;
				border-radius: 50%;
				background: $primary-color;
				font-size: 18px;
				color: #fff;
				text-align: center;
				display: none;
			}
		}	
		.hamburger{
			color: $primary-color;
			margin: 0;
			font-size: 26px;
			display: none;
		}
	}
}

@media (min-width: 1239px) and (max-width: 1600px){
	#header{
		.header-top{
			.header-top-left,
			.header-top-right{
				.btn-outline{
					font-size: $font-sm;
				}
			}
		}
		.header-bottom{
			nav{
				ul{
					li{
						margin-left: 20px;
						a{
							font-size: $font-sm + 1;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1024px) and (max-width: 1240px){
	#header{
		.header-top{
			.header-top-left,
			.header-top-right{
				.btn-outline{
					font-size: $font-sm;
				}
			}
		}
		.header-bottom{
			nav{
				ul{
					li{
						margin-left: 20px;
						a{
							font-size: $font-sm + 1;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1024px){
	#header{
		.header-bottom{
			nav{
				position: absolute;
				top: 0;
				left: -100px;
				z-index: 999;
				background: rgba(0,0,0,0.8);
				width: 100%;
				height: 100vh;
				opacity: 0;
				visibility: hidden;
				transition: 0.3s ease-in-out;

				&.active{
					opacity: 1;
					visibility: visible;
					left: 0;
				}
				ul{
					display: inline-block;
					background: #fff;
					width: 50%;
					height: 100%;
					padding: 20px;
					li{
						margin-left: 0;
						margin-bottom: 20px;
						a{
							font-size: $font-sm + 1;
						}
						&.dropdown{
							ul{
								width: 100%;
								position: relative;
								top: 0;
							}
						}
					}
				}
				.icon-close{
					display: block;
				}
			}
			.hamburger{
				display: block;
			}
		}
	}
}