/* mixins */
@mixin btn{
	border-radius: 5px;
	box-shadow: 0px 4px 4px $color-opacity_34;
	padding: 5px 10px;
	font-size: $font-md - 2;
	font-weight: 500;
	color: #fff;
}

@mixin title{
	font-size: 40px;
	font-weight: 500;
	line-height: 50px;
	color: $primary-color;
}