html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, a, nav, section, summary, time, mark, audio, video 
{margin:0 auto; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none; list-style:none; outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0); box-sizing:border-box;}

html,body { -webkit-text-size-adjust:none; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing: grayscale;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display: block;}
img{border:none;}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: $secondary-color;
	line-height: 32px;
	overflow-x: hidden;
}

.container{
	max-width: 1880px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.btn-primary{
	@include btn;
	background: $primary-color;
}
.btn-secondary{
	@include btn;
	background: $secondary-color;
}